/* -----------------     google fonts    ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* ------------------------    general utilities   ------------------------- */
body {
    max-width: 1440px;
    margin: 0 auto;
}
h2 {
    margin: 100px 0 50px 0;
}
/* ------------     header      -------------- */
/* ------------     main      -------------- */
.cards-container {
    width: 100%;
    margin: 0 auto;
}
.card {
    width: 235px;
    height: 390px;
}
.card-highlight {
    width: 295px;
    height: 480px;
    border-radius: 3rem;
    background-color: rgba(0, 17, 255, 0.178);
}
.card-highlight>.card {
    background-color: rgba(0, 17, 255, 0);
}
.c-text {
    font-weight: 500;
    color: #524e70;
}
ul {
    list-style-image: url("/icons/checked.png");
}
/*-------------- footer  --------------*/
footer {
    height: 220px;
    padding: 20px 0;
    background-color: black;
}
.footer-text p {
    font-size: 12px;
}
.footer-icon a img {
    width: 140px;
    height: 40px;
}
@media only screen and (max-width:576px) {
    footer {
        height: 180px;
    }
    .footer-icon a img {
        width: 80px;
        height: 20px;
    }
}